*{
  font-family: 'Lobster', cursive;
}

body{
  background: radial-gradient(circle at center, #8B5CF6, #6366F1);
}

.title{
  font-size: 60px;
  color: black;
  text-align: center;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 6px 0; 
  border-bottom: 2px solid black;
  margin-bottom: 8px;
}

.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 30px auto;               
}

.input-box {
  flex: 1;            
  height: 60px;
  border-radius: 50px;
  border: none;
  min-width: 100px;
  font-size: 30px;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: 0 2px 18px rgba(0,0,0, 0.25);
  transition: transform 0.2s;
  margin-right: 31px;
}

.input-box:hover{
  transform:scale(1.2);
}

.input-box::placeholder{
  color: black;
  font-weight: bold;
}

.append-text {
  font-size: 30px;
  text-align: center;
  flex: 1;
  word-break: break-word;  
}

.add-btn {
  margin-left: 20px;  
  margin-top: 5px;
  border-radius: 30px;
  border: none;
  background: white;
  color: black;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 2px 18px rgba(0,0,0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
  transition: padding 0.2s,transform 0.2s;
}

.add-btn:hover{
  transform:scale(1.2);
}

.add-btn:active{
  box-shadow: none;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 7px;
  padding-right: 8px;
}

.delete-btn{
  background-color: red;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 22px;
  padding: 5px 5px;
  margin-bottom: 8px;
  transition: transform 0.2s;
}

.delete-btn:hover{
  transform: scale(1.2);
}

.check-btn{
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
  transition: transform 0.2s;
}
.check-btn:hover{
  transform: scale(1.2);
}

.check-btn:active{
  box-shadow: none;
  padding: 0;
}

.strikethrough{
  text-decoration: line-through;
  opacity: 0.6;
}


